streamlit
langchain==0.3.3
langchain-chroma>=0.1.4
langchain-community
langchain-openai
langchain-text-splitters
langchainhub
langsmith
chromadb
tiktoken
python-dotenv
langchain-upstage
langchain-pinecone